@model CustTrack.Models.UpdateDepartmentModel
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div align="center">
    <br />
    @using (Html.BeginForm("Departmant", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        if (Model.Department.department_id != 0)
        {
            <h4 align="center">Güncelleme: <b>@Html.DisplayFor(model => model.Department.department_name)</b></h4>
            <hr />
            <div class="form-group">
                @Html.TextBoxFor(m => m.Department.department_name, new { @class = "form-control", placeholder = "Bölüm Adı" })
            </div>
            <div class="form-group">
                <h5>Bu bölümde çalışanlar</h5>
                @foreach (var emp in Model.EmployeeModel)
                {
                    <h6>@emp.employee_name</h6>
                }
            </div>
            <div class="form-group">
                @foreach (var emp in Model.ManagerModel)
                {
                    <label>@emp.employee_name</label>
                }
            </div>
            <p>
                @Html.HiddenFor(m => m.Department.department_id)
                <button type="submit" class="btn btn-outline-dark"> Kaydet </button>
                <button type="reset" class="btn btn-outline-secondary"> Temizle</button>
                <button class="btn btn-outline-danger" href="/Admin/RemoveDepartmant/@Model.Department.department_id">Sil</button>
            </p>
        }
        else
        {
            <h4 align="center">Yeni Bölüm</h4>
            <hr />
            <div class="form-group">
                @Html.TextBoxFor(m => m.Department.department_name, new { @class = "form-control", placeholder = "Bölüm Adı" })
            </div>
            <div class="form-group">
                <h5>Çalışanlar</h5>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"> a</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <p>
                @Html.HiddenFor(m => m.Department.department_id)
                <button type="submit" class="btn"> Kaydet </button>
                <button type="reset" class="btn"> Temizle</button>
            </p>
        }
    }
</div>
